@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body,
html {
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

a,
a:link,
a:hover,
a:focus,
a:active {
  color: white;
}
a:visited {
  color: white;
}
